<!-- Optional additional links to insert for icons links -->
<div id="contact-list1" style="text-align:center">
    <!-- contact icons go here --> 
    {% if site.author.github %}
      <a href="https://github.com/{{ site.author.github }}" target="_blank">
          <span class="fa-stack fa-medium">
              <i class="fab fa-github fa-stack-2x"></i>
          </span>
      </a>
    {% endif %}
    {% if site.author.linkedin %}
      <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
          <span class="fa-stack fa-medium">
              <i class="fab fa-linkedin fa-stack-2x"></i>
          </span>
      </a>
    {% endif %}
    {% if site.author.twitter %}
      <a href="https://www.twitter.com/{{ site.author.twitter }}" target="_blank">
          <span class="fa-stack fa-medium">
              <i class="fab fa-twitter fa-stack-2x"></i>
          </span>
      </a>
    {% endif %}	
    {% if site.author.goodreads %}
      <a href="https://www.goodreads.com/{{ site.author.goodreads }}" target="_blank">
          <span class="fa-stack fa-medium">
              <i class="fab fa-goodreads fa-stack-2x"></i>
          </span>
      </a>
    {% endif %}	
  </div>